  <div class="row">
    <div class="jumbotron">
      <h1 class="display-4">Salehub</h1>
    </div>
  </div>
  <div class="row">
      <div class="col-md-12 mb-2">
        <div class="card-deck">
            <% @products.each do |product| %>
              <%= render partial: 'product', locals: { product: product } %>
            <% end %>
          </div>
        </div>
    </div>
 <!-- container -->
